.tm-pdng{
	padding-top: 50px;
}
.trash{
    font-size: 20px;
}
.pencil{
	margin-right: 15px;
    font-size: 20px;
}
.error-msg{
	font-size: 12px;
	margin-left: 2px;
	color: red;
}
.filter-div{
	padding-bottom: 20px
}

.aln-right{
	float: right;
}